//colors 
$gold: #CCA531;
$light: #f7f7f7;

//fonts
$font-main: 'Didact Gothic', sans-serif;
$font-secondary: 'Lobster', cursive;

//global reset
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

//breakpoints
$large-desktop: 93.75em; 	//1500px
$desktop: 78.125em; 		//1250px
$tablet: 62.5em;			//1000px
$small-tablet: 50em;		//800px
$phone: 37.5em; 			//600px
$small-phone: 25em;			//400px

html {
	box-sizing: border-box;
	font-size: 62.5%; //overall font-size: 1rem = 16px

	@media only screen and (max-width: $large-desktop) {
		font-size: 50%;
	}

	@media only screen and (max-width: $desktop) {
		font-size: 45%;
	}

	@media only screen and (max-width: $phone) {
		font-size: 40%; 
	}

	@media only screen and (max-width: $small-phone) {
		font-size: 30%; 
	}
}

body {
	font-family: $font-main;
	background-color: $light;
}

::selection {
	background: $gold;
	color: $light;
}

//overall grid container
.container {
	display: grid;
	grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; 
}